h1{
	font-family: 'Raleway';
	font-weight: 100;
	text-align: center;
}
.jumbotron {
     background-color: #fff;
}
.new-post{
	margin: 0 auto;
}
.control-fileupload {
	display: block;
	border: 1px solid #d6d7d6;
	background: #FFF;
	border-radius: 4px;
	width: 100%;
	height: 36px;
	line-height: 36px;
	padding: 0px 10px 2px 10px;
  overflow: hidden;
  position: relative;
  
  &:before, input, label {
    cursor: pointer !important;
  }